@charset "UTF-8";
@import url("multipage/page.css");
/* CSS Document */

.textAria .timetrav {
	padding:0px;
	margin:0px;
}

.textAria .timetrav li {
	margin: 0px;
	padding:0px;
	height:60px;
	width:83px;
	overflow: hidden;
	line-height:70px;
	list-style: none;
	margin-left:8px;
}

.textAria .timetrav li a {
	display:block;
	height:60px;
	width:83px;
}

.textAria .timetrav li a:hover {
	display:block;
	height:60px;
	width:83px;
}


.back li {
	float:left;
}


.forth li {
	float:right;
}


.back .m a {
		background: url(../img/use/events/constants/next_prev-week_month.gif) 0px 0px no-repeat;
}

.back .m a:hover {
		background: url(../img/use/events/constants/next_prev-week_month.gif) 0px -60px no-repeat;
}

.back .w a {
		background: url(../img/use/events/constants/next_prev-week_month.gif) 0px -120px no-repeat;
}

.back .w a:hover {
		background: url(../img/use/events/constants/next_prev-week_month.gif) 0px -180px no-repeat;
}

.forth li {
	float:right;
}

.forth .m a {
		background: url(../img/use/events/constants/next_prev-week_month.gif) 0px -240px no-repeat;
}

.forth .m a:hover {
		background: url(../img/use/events/constants/next_prev-week_month.gif) 0px -300px no-repeat;
}

.forth .w a {
		background: url(../img/use/events/constants/next_prev-week_month.gif) 0px -360px no-repeat;
}
.forth .w a:hover {
		background: url(../img/use/events/constants/next_prev-week_month.gif) 0px -420px no-repeat;
}
