@charset "UTF-8";
@import url("main.css");
/* CSS Document */

h1 {
	color:#000;
	font-family:Helvetica, sans-serif;
	font-weight:100;
	font-size:19px;
	padding:0px;
	margin:0px;
	margin-top:10px;
}
h2 {
	color:#49beb0;
	font-family:Helvetica, sans-serif;
	font-weight:100;
	font-size:13px;
	padding:0px;
	margin:0px;
}

a {
	color:#49beb0;
}

h3 {
	margin:0px;
	padding:0px;
	color:black;
	font:Verdana, Geneva, sans-serif;
	font-weight:100;
}

h4 {
	margin:0px;
	padding:0px;
	color:black;
	font:Verdana, Geneva, sans-serif;
	font-weight:100;
	color:#666;
}